<div style="width:80%; margin: 0 auto;">
<% @articles.each do |article| %>
<h1><%=article.title%></h1>

<div>
	<%=article.body%>
</div>
<%= link_to "Eliminar", article, method: :delete %>

<% end %>
</table>
